.home-bg {
    background-color: #133b87;
}

@black1: #333;
@black2: #999999;
@raduis: .1rem;
.home-page {
    .main-wrap{
        margin-top: -1.1rem;
    }
    .dingxiang-bao {
        position: fixed;
        z-index: 99;
        right: 0;
        bottom: .5rem;
        width: 1.9rem;
        height: 1.47rem;
        font-size: 0;
        background: url(../img/dingxiang-bao-btn.png)no-repeat;
        background-size: 100% 100%;
    }
    .baoxiao-wrap {
        position: absolute;
        left: 50%;
        bottom: 2.5rem;
        transform: translateX(-50%);
        width: 3.38rem;
        height: 3.79rem;
        background: url(../img/2193-baoxiang.png)no-repeat;
        background-size: 100% 100%;
    }
    .banner {
        position: relative;
        font-size: 0;
        .rule-icon {
            display: inline-block;
            vertical-align: middle;
            margin-left: .2rem;
            margin-right: .1rem;
            width: .28rem;
            height: .28rem;
        }
        .info-text {
            vertical-align: middle;
        }
        img.banner {
            display: inline-block;
            height: 9.25rem;
            width: 100%;
        }
        .home-banner-bg {
            height: 9.25rem;
            width: 100%;
            background: url(../img/home-bg.jpg)no-repeat;
            background-size: 100% 100%;
        }
        .baoxiang {
            position: relative;
            top: -1rem;
            margin: 0 auto;
            text-align: center;
        }
        .baoxiang-img {
            width: 2rem;
            height: auto;
        }
        .lklq-btn {
            position: absolute;
            z-index: 9;
            left: 50%;
            bottom: -0.92rem;
            transform: translate3d(-50%, 0, 0);
            font-size: .2rem;
            color: #fff;
            background-color: #441a0a;
            padding: 0 .3rem;
            border-radius: .2rem;
            &.share-page {
                bottom: -0.205rem;
                width: 5.47rem;
                height: 1.03rem;
                font-size: 0;
                background: url(../img/ljlq-btn.png)no-repeat;
                background-size: 100% 100%;
            }
        }
        .rule-tag {
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 9;
            right: 0;
            top: .25rem;
            width: 1.18rem;
            height: .48rem;
            color: #000;
            font-size: .24rem;
            border-top-left-radius: .2rem;
            border-bottom-left-radius: .2rem;
            background: -webkit-linear-gradient(top, #fffef8, #ffe286);
            ;
        }
        .prize-tag {
            top: 1rem;
        }
    }
    .invent-friend-wrap {
        margin: .5rem auto;
        .pannel {
            position: relative;
            width: 5.84rem;
            height: 5.98rem;
            background: url(../img/2193-app-hebao-pannel-2.png)no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            .hebao-text {
                position: absolute;
                left: 48%;
                transform: translateX(-50%);
                top:2.4rem;
                text-align: center;
                .num {
                    color: #fff96e;
                    font-size: .46rem;
                }
                .text {
                    color: #fff96e;
                    font-size: .3rem;
                }
            }
            .had-get {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top:3.7rem;
                white-space: nowrap;
                color: #fff;
                font-size: .3rem;
                text-align: center;
                .num {
                    color: #ec7551;
                }
            }
            .phone-wrap {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top:4.2rem;
                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 4.6rem;
                    margin: 0 .8rem;
                    font-size: .32rem;
                    color: #fff;
                    .change-btn {
                        color: #e86a53;
                        font-size: .24rem;
                    }
                }
            }
        }
        .yaoqing-btn {
            position: relative;
            width: 4.06rem;
            height: .81rem;
            line-height: .81rem;
            background: url(../img/2193-comfie-btn.png)no-repeat;
            background-size: 100% 100%;
            left: 50%;
            font-size: .36rem;
            text-align: center;
            color: #fff;
            transform: translateX(-50%);
        }
        .notice-tip{
            font-size: 0.24rem;
    color: #6ab5f4;
    width: 100%;
    text-align: center;
    margin: 0.1rem 0;
        }
    }
    .phone-wrap {
        margin: .5rem auto;
        &.change {
            .pannel {
                display: flex;
                align-items: center;
                position: relative;
                width: 5.54rem;
                height: 1.08rem;
                background: url(../img/2193-phone-bg.png)no-repeat;
                background-size: 100% 100%;
                margin: 0 auto;
                color: #fff;
                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 5rem;
                    margin: 0 .4rem;
                    font-size: .32rem;
                    .change-btn {
                        color: #e86a53;
                        font-size: .24rem;
                    }
                }
            }
        }
        .pannel {
            position: relative;
            width: 5.54rem;
            height: 1.08rem;
            background: url(../img/2193-phone-input-bg.png)no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            input {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 5rem;
                height: .6rem;
                line-height: .6rem;
                border: 0;
                margin: 0;
                padding: 0;
                padding-left: .5rem;
                width: 100%;
                resize: none;
                display: block;
                color: #323233;
                box-sizing: border-box;
                background-color: transparent;
            }
        }
        .notice-tip {
            position: relative;
            margin-top: .2rem;
            left: 50%;
            transform: translateX(-38%);
            font-size: .24rem;
            .title {
                color: #f4e001;
            }
            .sub-title {
                margin-top: .1rem;
                color: #6ab5f4;
            }
        }
    }
    .app-zone-wrap {
        //       margin-top: -0.6rem;
        .pannel {
            position: relative;
            width: 5.84rem;
            height: 5.14rem;
            font-size: 0;
            background: url(../img/2193-app-down-pannel.png)no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            .box-wrap {
                position: absolute;
                width: 100%;
                padding: 0 .6rem;
                top: 1.54rem;
            }
            .qiqiu-right {
                position: absolute;
                right: -0.698rem;
                width: 1rem;
                height: 1.72rem;
                background: url(../img/2193-qiqiu-right.png)no-repeat;
                background-size: 100% 100%;
            }
            .box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: .2rem;
                margin-bottom: .1rem;
                border-bottom: 1px solid #ccc;
                .item {
                    &.icon {
                        display: flex;
                        align-items: center;
                    }
                    .info {
                        margin-left: .15rem;
                        font-size: .24rem;
                        color: @black1;
                    }
                    .sub-title {
                        font-size: .2rem;
                        color: @black2;
                    }
                    .app-icon {
                        width: .7rem;
                        height: .7rem;
                    }
                }
                .download {
                    padding: .1rem .2rem;
                    border-radius: @raduis;
                    color: #fff;
                    font-size: .24rem;
                    background: -webkit-linear-gradient(top, #6cbdfb, #4ca0e9);
                }
            }
        }
        .notice-tip {
            font-size: .24rem;
            color: #6ab5f4;
            width: 100%;
            text-align: center;
            margin: .1rem 0;
        }
    }
    .he-bao-wrap {
        position: relative;
        .qiqiu-left {
            position: absolute;
            z-index: 9;
            left: 0;
            top: 3rem;
            width: 1rem;
            height: 1.72rem;
            background: url(../img/2193-qiqiu-left.png)no-repeat;
            background-size: 100% 100%;
        }
        .pannel {
            position: relative;
            width: 5.84rem;
            height: 5.98rem;
            font-size: 0;
            background: url(../img/2193-app-hebao-pannel.png)no-repeat;
            background-size: 100% 100%;
            margin: .5rem auto;
            .yaoqing-btn {
                position: absolute;
                width: 4.06rem;
                height: .81rem;
                line-height: .81rem;
                background: url(../img/2193-comfie-btn.png)no-repeat;
                background-size: 100% 100%;
                bottom: .8rem;
                left: 50%;
                font-size: .36rem;
                text-align: center;
                color: #fff;
                transform: translateX(-50%);
            }
        }
    }
    .liu-cheng-wrap {
        position: relative;
        .qiqiu-right {
            position: absolute;
            right: 0;
            top: 3.4rem;
            width: 1rem;
            height: 1.72rem;
            background: url(../img/2193-qiqiu-right.png)no-repeat;
            background-size: 100% 100%;
        }
        .pannle {
            width: 5.84rem;
            height: 8.38rem;
            font-size: 0;
            background: url(../img/2193-home-liucheng.png)no-repeat;
            background-size: 100% 100%;
            margin: .5rem auto;
        }
    }
    .rule-wrap {
        position: relative;
        width: 5.84rem;
        margin: .5rem auto;
        margin-top: 1rem;
        color: #fff;
        .rule-title-bg {
            position: absolute;
            left: 50%;
            top: -0.5rem;
            transform: translateX(-50%);
            width: 5.58rem;
            height: 1.13rem;
            font-size: 0.28rem;
            text-align: center;
            line-height: 1.13rem;
            background: url(../img/2193-rule-bg.png)no-repeat;
            background-size: 100% 100%;
        }
        .r1 {
            background-color: #83c5fc;
            border-radius: .2rem;
            padding: .2rem;
        }
        .r2 {
            background-color: #56a7ec;
            border-radius: .2rem;
            padding: .2rem;
        }
        .r3 {
            background-color: #2156b5;
            border-radius: .2rem;
            padding: .2rem;
        }
    }
}