@import "./components/dialog.less";
@import "./components/button.less";
.line-clamp(@line: 2, @line-height: .38rem) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  line-height: @line-height;
  max-height: @line-height * @line + .2rem;
}
.text-overflow(@align: justify) {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: @align;
}
.flex-box{
  display: flex;
  align-items: center;
}
.flex-box-bet{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.no-wrap{
  flex-wrap: nowrap
}
.flex-center{
  align-items:center;
}
.flex-item{
  flex: 1;
}
.swiper-slide{
  text-align: inherit;
}

.text-over{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.home-bg{
  background-color: #f0f0f0;
  padding: .36rem;
}
.banner{
  font-size: 0;
  img.banner{
    display: inline-block;
    font-size: 0;
    height: 2.6rem;
    width: 100%;
    margin-bottom: .24rem;
  }
}
.card-list-wrap{
  margin-top: .2rem;
  .card-box{
    display: flex;
    align-items:center;
    margin-bottom: .2rem;
    padding:.4rem;
    background-color: #fff;
    box-shadow:0px 0px .26rem rgba(153, 153, 153, 0.4);
    .item{
      flex: 1;
    }
    .icon-item{
      flex: 0 1 1.84rem;
      width: 1.84rem;
      img{
        width: 1.84rem;
        height: 1.84rem;
      }
    }
    .info{
      display: flex;
      min-height: 2.25rem;
      margin-left: .48rem;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      .title{
        max-width: 6.5rem;
        .text-overflow();
        color:#333333;
        font-weight: bold;
        font-size: .48rem;
      }
      .text-info{
        font-size: .36rem;
        color:#999999;
        .line-clamp(2,0.6rem);
        line-height:normal;
        margin:.3rem 0;
      }
      .sub-title{
        font-size: 0;
        color:#999999;
      }
      .price{
        font-weight: bold;
        color:#ff0018;
        font-size: .48rem;
      }
      .price-per{
        color:#ff0018;
        font-size: .36rem;
        margin-right: .1rem;
      }
      .sub-text{
        color:#999999;
        font-size: .36rem;
      }
    }
  }
}
.no-result-wrap{
  padding: .4rem 0;
  background-color: #fff;
  text-align: center;
  img{
    display: inline-block;
    width: 4.63rem;
    height: 3.85rem;
  }
  .btn{
    box-sizing: border-box;
    width: 3rem;
    height: .84rem;
    color:#666666;
    text-align: center;
    vertical-align: middle;
    border:2px solid #ebebeb;
    border-radius: .2rem;
    .no-result-sub-text{
      vertical-align: middle;
    }
  }
  .no-result-text{
    margin:.4rem;
    color:#666666;
    font-size: .42rem;
  }
  .icon-reflesh{
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem;
    width: .38rem;
    height: .38rem;
    background: url("../img/reflesh.png")no-repeat;
    background-size: cover;
  }
}
