@import "./common/mixins.less";
@import "./components/dialog.less";
@import "./components/button.less";
.flex-box {
    display: flex;
    align-items: center;
}

.flex-box-bet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.no-wrap {
    flex-wrap: nowrap
}

.flex-center {
    align-items: center;
}

.flex-item {
    flex: 1;
}

.swiper-slide {
    text-align: inherit;
}

.text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.home-bg {
    background-color: #f53e39;
}

.banner {
    position: relative;
    font-size: 0;
    .rule-icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: .2rem;
        margin-right: .1rem;
        width: .28rem;
        height: .28rem;
    }
    .info-text {
        vertical-align: middle;
    }
    img.banner {
        display: inline-block;
        height: 2.79rem;
        width: 100%;
    }
    .rule-tag {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 9;
        right: 0;
        top: .25rem;
        width: 1.18rem;
        height: .48rem;
        color: #fff;
        font-size: .24rem;
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem;
        background-color: #5354548a;
    }
    .prize-tag {
        top: .8rem;
    }
}
.second-banner{
   width: 100%;
   height: 5.85rem;
  .set-bg("../../img/mengzhu_02.png");
  .step-wrap{
      padding:2.8rem .3rem 0 .3rem;
      display: flex;
      justify-content: center;
      .item{
          flex: 1;
          color:#fff;
          font-weight: bold;
          text-align: center;
          img{
              width: 1.19rem;
              height: auto;
          }
          .title{
              font-size: .24rem;
          }
      }
  }  
  .rule-link{
      margin-top: .3rem;
      margin-right: .8rem;
      float: right;
      color:#544100;
      font-size: .24rem;
      border-bottom: 1px solid #544100;
  }
}
.third-banner{
   position: relative; 
   width: 100%;
   height: 5.83rem;
  .set-bg("../../img/mengzhu_03.png");
  .gua-jiang {
    text-align: center;
    padding-top: 2rem;
    .gua-jiang-img {
        position: relative;
        display: inline-block;
        width: 5.94rem;
        height: 2.04rem;
        .set-bg("../../img/guajiang.png");
        button {
            position: absolute;
            width: 3.7rem;
            height: .8rem;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: #ca322e;
            font-weight: 700;
            color: #fff;
            margin: 0;
        }
    }
    
  }
  .has-opertunity{
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,0,0);
    bottom: .6rem;
    text-align: center;
    font-size: .3rem;
    color:#a4302c;
    font-weight: bold;
     span{
        color:#ff4a45;
     }
    }
}
.app-list-wrap {
    padding: .2rem .2rem .68rem;
    .contain {
        margin: 0 .05rem;
        .list-title {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAqsAAAB4CAYAAADVLrtZAAAGt0lEQ…EASEusAgCQllgFACAtsQoAQFpiFQCAtMQqAABpiVUAANL6BzuM/A3IMcXLAAAAAElFTkSuQmCC) no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 1.2rem;
            .title-box {
                padding: 0 .2rem;
                color: #fff;
                height: 100%;
                font-size: .3rem;
            }
            .sub-title {
                color: #fad44e;
                font-size: .24rem;
            }
        }
        .list {
            position: relative;
            padding: .3rem .2rem .3rem .35rem;
            border-bottom: 1px solid #eee;
            background-color: #fff;
            .pic-1 {
                margin-top: .1rem;
                margin-right: .3rem;
                float: left;
                img {
                    width: 1.15rem;
                    height: 1.15rem;
                }
            }
            .app-content {
                float: left;
                text-align: left;
                .title-p {
                    font-weight: bold;
                    margin-top: 0;
                    font-size: .36rem;
                    color: #333;
                }
                p {
                    margin: .1rem 0;
                    font-size: .24rem;
                    color: #999;
                }
                .sub-title {
                    color: red;
                }
            }
            
        }
    }
}
.content {
    padding: 0 .5rem .5rem .5rem;
    .set-bg("../../img/ct-bg.png");
    .title {
        text-align: center;
        font-size: .24rem;
        color: #fff;
        padding: .3rem 0;
    }
    .app-card {
        display: flex;
        justify-content: center;
    }
    .item-card {
        position: relative;
        flex: 0 0 auto;
        width: 2.87rem;
        height: 2.21rem;
        .set-bg("../../img/new-card-bg.png");
        .app-name {
            margin-top: .4rem;
            text-align: center;
            font-size: .24rem;
            color: #686868;
            .icon {
                vertical-align: text-bottom;
                width: .31rem;
                height: .31rem;
            }
        }
        .app-text {
            text-align: center;
            font-weight: bold;
            margin-top: .09rem;
            color: #f0763a;
            font-size: .3rem;
        }
        .btn {
            position: absolute;
            width: 1.87rem;
            height: .41rem;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            color: #fff;
            line-height: .41rem;
            bottom: .15rem;
            .set-bg("../../img/new-card-btn-bg.png");
        }
        .has-active {
            color: #feca26;
            .set-bg("../../img/new-card-btn-has-bg.png");
        }
        .no-active {
            .set-bg("../../img/new-card-btn-no-bg.png");
        }
        &:first-child {
            margin-right: .3rem;
        }
    }
    .h-more {
        img {
            margin: .3rem 0;
            width: 100%;
            height: 1.75rem;
        }
    }
    .rule-detail {
        margin-top: .3rem;
        position: relative;
        border-radius: .4rem;
        background: url(../img/h-rule-big-bg.png)repeat-x;
        background-size: 100% 100%;
        &.rule-prize-detail {
        }
        .title {
            position: absolute;
            top: -.27rem;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            width: 3.51rem;
            height: .7rem;
            line-height: .2rem;
            .set-bg("../../img/h-rule-title-bg.png");
        }
        .text {
            margin-top: .5rem;
            font-size: .24rem;
            color: #6759ce;
        }
    }
    .rule-prize-detail-2 {
        margin-top: .5rem;
    }
    .rule-prize-detail {
        margin-top: 0;
        .rule-content {
            margin-top: .35rem;
            .text {
                margin-top: .1rem;
            }
            .item {
                margin-bottom: .5rem;
            }
        }
    }
}

.rule-prize-content {
    padding-top: .3rem;
}

.rule-detail {
    background-color: #fff;
    padding: .45rem .6rem;
    margin-bottom: .2rem;
    .head {
        position: relative;
        text-align: center;
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            font-size: .28rem;
            color: #323232;
            font-weight: bold
        }
    }
    .title-bg {
        height: .24rem;
        width: 100%;
    }
    .content {
        margin-top: .5rem;
        font-size: .28rem;
        color: #666666;
    }
}

.rule-prize-detail {
    padding: 0.3rem 0.2rem;
    .my-prize-wrap {
        padding: .4rem 0 0 0;
        .prize-box {
            border: 1px solid #61aeef;
            border-bottom: none;
        }
        .head {
            display: flex;
            background-color: #61aeef;
            font-size: .24rem;
            color: #fff;
            padding: .2rem;
            .item {
                flex: 1;
            }
        }
    }
    .prize-content {
        display: flex;
        background-color: #ebebff;
        font-size: .24rem;
        border-bottom: 1px solid #61aeef;
        color: #6759ce;
        padding: .2rem;
        text-align: center;
        .item {
            flex: 1;
        }
    }
}

.rule-content {
    .item {
        margin: .2rem;
        text-align: left;
    }
    .button {
        .set-bg("../../img/rule-ti-bg.png");
        color: #fff;
        text-align: center;
        width: 1.87rem;
        height: .48rem;
        line-height: .48rem;
    }
}