.price-page{
  .page-top{
    width: 100%;
    height: 5.06rem;
    background: url(../img/top.png);
    background-size:100% 100%;
  }
  .page-content{
    width: 100%;
    height: 11.48rem;
    background: url(../img/content.png);
    background-size: 100% 100%;
    padding-top: 0.45rem;
    box-sizing: border-box;
    .price-tab{
      width: 5.88rem;
      height: 9.89rem;
      background: url(../img/tab.png);
      background-size: 100% 100%;
      margin: 0 auto;
      padding-top: 1.4rem;
      box-sizing: border-box;
      .tab-list{
        width: 75%;
        margin: 0 auto;
        border-bottom: 1px solid #c9c9c9;
        padding: 0.2rem 0;
        box-sizing: border-box;
        .list-title{
          font-size: 0.28rem;
          font-weight: 600;
          color: #ff5a2e;
          margin-bottom: 0.1rem;
        }
        .list-text{
          font-size: 0.2rem;
          color: #999999;
          margin-top: 0.05rem;
        }
      }
      .border-none{
        border-bottom: none;
      }
      .tab-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.88rem;
        height: 0.72rem;
        background: url(../img/tab-btn.png);
        background-size: 100% 100%;
        margin:0 auto;
        font-size: 0.24rem;
        color: #ffffff;
        font-weight: 600;
      }
      .tips{
        font-size: 0.2rem;
        color: #ff9900;
        text-align: center;
      }
    }
  }
  .page-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 11.56rem;
    background: url(../img/content2.png);
    background-size: 100% 100%;
    padding-top: 0.4rem;
    box-sizing: border-box;
    .use-tips{
      width: 3.95rem;
      height: 0.79rem;
      margin-bottom: 0.5rem;
    }
    ul{
      width: 80%;
      list-style: none;
      font-size: 0.24rem;
      color: #fff;
    }
  }
}
