.swiper-pagination{
  position: static;
  margin-top: 0.25rem;
  .swiper-pagination-bullet{
    margin: 0 0.08rem;
    background-color: #fff;
  }
  .swiper-pagination-bullet-active{
    background-color: #ffff33;
  }
}